html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing:inherit;
}

#container {
    max-width: 1000px;
    padding: 25px;
    background-color: #7babab;
    opacity: 0.90;
}

body {
    margin: auto;
    padding: 0;
    background: #050505 url(../img/background.png);
}

/* profile */

#profile h1,h2 {
    text-align: center;
    color: #f3f4ef;

}

#profile ul {
    text-align: center;
}
#profile li {
    font-size: 0.8em;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #707071;
}

/* MAIN CONTENT */

#main-content {
    margin: auto;
    background-color: #f3f4ef;
    opacity: none;
    padding: 20px;
}

#main-content h1 {
    padding: 0;
    margin: auto;
}

#main-content li {
    list-style-type: none;
    padding-top: 0;
}

#main-content p {
    text-align: justify;
}



